*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
nav{
	height: 4rem;
	line-height: 4rem;
	background: rgba(100,200,200,0.9);
}

.logo-label{
	font-size: 1.5rem;
	font-family: Aeria;
	color:  #fff;
	margin: 0 3rem;
	float: left;
}
ul{
	float: right;
	margin: 0 2rem;

}
ul li{
	display: inline-block;
	margin:  0 .5rem;
	font-size: 1.2rem;
	padding: 0 .5rem;
	
}
ul li:hover{
	border-bottom: 2px solid red;
}
a{
	color: white;
	
}
a:hover{
	color: red;
	animation: animate .9s ease-out infinite;
}
@keyframes animate{
	0%{
		color: red;
		/*transform: scale(1);*/
	}
	100%{
		color:  green;
		/*transform: scale(1.09);*/
	}
}

